<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Show All Products</h1>
    <% allProducts.forEach(element => { %>
     <li style="background-color: blue;"><%= element.name %></li>
    <% }) %>
</body>
</html>